
  <div class="row" style=" margin-top: -50px;margin-right: 1px !important">
    <div class="col-sm-12 col-md-5 col-md-5 mx-auto" 
    style="background-color: #FCFAFA; margin-top: -30px;
    -webkit-box-shadow: 8px 8px 5px 0px rgba(130,122,130,1);
    -moz-box-shadow: 8px 8px 5px 0px rgba(130,122,130,1);
    box-shadow: 8px 8px 5px 0px rgba(130,122,130,1);
    border: 1px solid #DEEAC4;">
      <div class="card card-signin my-3" style="background-color: #FCFAFA; border: 1px solid #FCFAFA;">
        <div class="card-body">
          <h4 style="color: #00903c; text-align: center;">
            <img src="./assets/imagenes/miniLogo.png" style="width: 50px;" id="loaderLogin"> EDESAL APP
        </h4>
            <form class="form-signin">
            <div class="form-label-group">
              <label><img src="./assets/imagenes/user.png"> Usuario</label>
              <input type="usuario" id="usuario" class="form-control" placeholder="Usuario" 
              autocomplete="off" autofocus>
              
            </div>
            <br>
            <div class="form-label-group">
              <label><img src="./assets/imagenes/padlock.png"> Contraseña</label>
              <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña"
              required>
              
            </div>
            <br>
            <button class="btn btn-lg btn-default btn-block" type="submit"
            style="background-color: #80B71B; color: #FCFAFA;" [routerLink]="['/dashboard']">Iniciar sesión</button>
            <hr class="my-4">
            </form>


            
           
               <p style="text-align: center !important;">
                <b style="color: black">¿Olvidó su contraseña?</b>
                  <br>
                <a href="http://www.edesal.com/OlvidoClave.html"  style="background-color: #3E2B5B;"
                class="btn btn-info">Recuperar</a>
               </p>
                <p style="text-align: center !important;">
   
                <b style="color: black">¿No posee cuenta?</b>
                <br>
                <a href="http://www.edesal.com/Registro.html" style="background-color: #004358 !important;"
                class="btn btn-info">Crear</a>
               </p>
           
          

        </div>
      </div>

      
    </div>
  </div>



      
 
      

