
<div class="row" style="margin-top: -60px;text-align: center !important;">
    <div class="col-md-12">
        <h2 style="color: #00903c;">
            <img src="./assets/imagenes/miniLogo.png" class="img-profile"
            style="width: 60px;">
            ¡Hola Fabio!</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h5 style="text-align: center !important;color:black !important">Puedes consultar:</h5>
    </div>
   
    <div class="col-md-12" style="margin-top: 10px;">
        <a href="#" class="btn btn-default btn-lg btn-block menu"
        style="background-color: #9CD631;">
            <img src="./assets/imagenes/report.png"> 
                Saldo de factura por período 
            <img src="./assets/imagenes/next.png" class="imgMenu">
        </a>
    </div>
    
    <div class="col-md-12" style="margin-top: 10px;">
        <a href="#" class="btn btn-default btn-lg btn-block menu"
        style="background-color: #DEEAC4;">
            <img src="./assets/imagenes/emergency.png"> 
                Última factura
            <img src="./assets/imagenes/next.png" class="imgMenu">
        </a> 
    </div>

    <div class="col-md-12" style="margin-top: 10px;">
        <a href="#" class="btn btn-default btn-lg btn-block menu"
        style="background-color: #9CD631;">
            <img src="./assets/imagenes/money.png">
                Pagos realizados
            <img src="./assets/imagenes/next.png" class="imgMenu">
        </a>
    </div>

    <div class="col-md-12" style="margin-top: 10px;">
        <a href="#" class="btn btn-default btn-lg btn-block menu"
        style="background-color: #DEEAC4;">
            <img src="./assets/imagenes/register.png"> 
                Lecturas
            <img src="./assets/imagenes/next.png" class="imgMenu">
        </a>
    </div>

    <div class="col-md-12" style="margin-top: 10px;">
        <a href="#" class="btn btn-default btn-lg btn-block menu"
        style="background-color: #9CD631;">
            <img src="./assets/imagenes/accounting.png">
                Estado de cuenta
            <img src="./assets/imagenes/next.png" class="imgMenu">
        </a>
    </div>


    <div class="col-md-12" style="margin-top: 15px;">
        <a href="#" class="btnSalir success btn-lg btn-block">
        <img src="./assets/imagenes/logout.png">  Salir de la App
        </a>
    </div>
</div>